<div class="container">
  <div class="clearfix">
    <h2 class="m-2 text-center float-left">Time to go!</h2>
    <button type="button" class="mt-3 float-right btn btn-secondary btn-sm" (click)="clockForm.invalid || toggleSettings($event)" [ngClass]="{'active':showSettings}">Configurações</button>
  </div>
  <div class="card">
    <div class="card-header bg-warning" *ngIf="hasSaturdayHoliday">
      <strong class="has-warning form-control-warning">Feriado no próximo Sábado!</strong>
    </div>

    <div class="card-header bg-danger" *ngIf="!remainingClockOut.remainingTimeEnabled && lastUpdateTime != ''">
      <strong class="has-danger form-control-danger text-white">Horário definido há {{lastUpdateTime}}!</strong>
    </div>

    <form class="card-block bg-faded pb-0" #clockForm="ngForm" (submit)="saveArrivedTime()">
      <div class="form-group row no-gutters" *ngIf="showSettings" [ngClass]="{'has-danger':workTimeCheck.invalid}">
        <label class="col-5 col-form-label">Carga horária diária:</label>
        <div class="col-5 d-flex">
          <input tabindex="1" class="form-control" type="text" mask="00:00" required appTimeValidator="HH:mm" [(ngModel)]="settings.workTime" name="settings.workTime" #workTimeCheck="ngModel" (click)="$event.target.select()" style="width: 5rem;" />
        </div>
      </div>
      <div class="form-group row no-gutters" *ngIf="showSettings" [ngClass]="{'has-danger':toleranceCheck.invalid}">
        <label class="col-5 col-form-label">Tolerância:</label>
        <div class="col-3 d-flex">
          <input tabindex="2" class="form-control" type="text" mask="00" required appTimeValidator="mm" [(ngModel)]="settings.toleranceTime" name="settings.toleranceTime" #toleranceCheck="ngModel" (click)="$event.target.select()" style="width: 5rem;" />
        </div>
      </div>
      <div class="form-group row no-gutters" *ngIf="showSettings">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="settings.checkSaturdayHoliday" name="settings.checkSaturdayHoliday" (ngModelChange)="saveSettings()">
          Verificar feriados aos sábados?
        </label>
      </div>
      <div class="form-group row no-gutters" [ngClass]="{'has-danger':arrivedTimeCheck.invalid}">
        <div class="col d-flex">
          <label class="col-form-label mr-2">Entrada: </label>
          <input tabindex="3" class="form-control mr-2" type="text" mask="00:00" [(ngModel)]="arrivedTime" name="arrivedTime" #arrivedTimeCheck="ngModel" required appTimeValidator="HH:mm" (click)="$event.target.select()" style="width: 5rem;" />
          <button type="submit" class="btn btn-primary mr-2" [disabled]="clockForm.invalid">Calcular</button>
        </div>

      </div>
    </form>

    <div class="card-block" *ngIf="remainingClockOut.remainingTimeEnabled">
      <div class="alert alert-info" id="min_time_container" *ngIf="hasToleranceTime">
        <div class="clearfix">
          <div class="float-left">Mínimo:</div>
          <div class="float-right font-weight-bold" id="min_time">{{minimumClockOut}}</div>
        </div>
      </div>
      <div class="alert alert-success">
        <div class="clearfix">
          <div class="float-left">Normal:</div>
          <div class="float-right font-weight-bold" id="regular_time">{{normalClockOut}}</div>
        </div>
      </div>
      <div class="alert alert-warning" id="max_time_container" *ngIf="hasToleranceTime">
        <div class="clearfix">
          <div class="float-left">Máximo:</div>
          <div class="float-right font-weight-bold" id="max_time">{{maximumClockOut}}</div>
        </div>
      </div>
      <div class="alert alert-danger mb-0">
        <div class="clearfix">
          <div class="float-left">Máximo de Extra:</div>
          <div class="float-right font-weight-bold" id="max_extra_time">{{maximumExtraTime}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3 mb-3" *ngIf="remainingClockOut.remainingTimeEnabled">
    <div class="col">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated p-4" role="progressbar" [ngClass]="remainingClockOut.remainingTimeProgressColor" [ngStyle]="{'width':remainingClockOut.remainingTimeProgressWidth}"></div>
        <span class="my-progress-text text-center font-weight-bold pt-3">{{remainingClockOut.remainingTimeText}}</span>
      </div>
    </div>
  </div>
  <p>Powered by <i>@walbinjr - </i><a href="http://wbjr.me" target="_blank"><i>wbjr.me</i></a></p>
</div>
