<div class="container">
  <div class="clearfix">
    <h2 class="m-2 text-center float-left">Time to go!</h2>
    <button type="button" class="mt-3 float-right btn btn-secondary btn-sm" id="settings">Configurações <i class="fa fa-cog"></i></button>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="sat_holiday" hidden>
      <i class="fa fa-exclamation-triangle"></i> <strong class="has-warning form-control-warning">Feriado no próximo Sábado!</strong>
    </div>

    <form class="card-block bg-faded pb-0">
      <div class="form-group row no-gutters">
        <label class="col-5 col-form-label">Carga horária diária:</label>
        <div class="col-3 col-form-label sr-only">
          <span id="base_time">00:00</span>
          <button type="button" class="btn btn-link btn-sm" id="edit_base_time"><i class="fa fa-pencil-square-o"></i></button>
        </div>
        <div class="col-5 d-flex">
          <input class="form-control" type="number" min="0" max="23" id="arrived_at" style="width: 6rem;" />
          <span class="col-form-label ml-1 mr-1">:</span>
          <input class="form-control" type="number" min="0" max="59" id="arrived_at" style="width: 6rem;" />
          <!-- <input class="form-control" type="time" id="arrived_at" /> -->
          <button type="button" class="btn btn-link btn-sm" id="save_base_time"><i class="fa fa-floppy-o"></i></button>
        </div>
      </div>
      <div class="form-group row no-gutters">
        <label class="col-5 col-form-label">Tolerância:</label>
        <div class="col-3 col-form-label sr-only">
          <span id="base_time">00:00</span>
          <button type="button" class="btn btn-link btn-sm" id="edit_tolerance_time"><i class="fa fa-pencil-square-o"></i></button>
        </div>
        <div class="col-3 d-flex">
          <input class="form-control" type="number" min="0" max="20" id="arrived_at" style="width: 6rem;" />
          <button type="button" class="btn btn-link btn-sm" id="save_tolerance_time"><i class="fa fa-floppy-o"></i></button>
        </div>
      </div>
      <div class="form-group row no-gutters">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="sat_holiday_check" id="sat_holiday_check">
          Verificar feriados aos sábados?
        </label>
      </div>
      <div class="form-group row no-gutters">
        <div class="col d-flex">
          <label class="col-form-label mr-2">Entrada:</label>
          <input class="form-control mr-2" type="time" id="arrived_at" style="width: 9rem;" />
          <button type="submit" class="btn btn-primary mr-2" id="calc_button">Calcular</button>
          <button type="button" class="btn btn-danger" id="clean_button">Limpar</button>
        </div>
      </div>
    </form>

    <div class="card-block">
      <div class="alert alert-info" id="min_time_container">
        <div class="clearfix">
          <div class="float-left">Mínimo:</div>
          <div class="float-right font-weight-bold" id="min_time">00:00</div>
        </div>
      </div>
      <div class="alert alert-success">
        <div class="clearfix">
          <div class="float-left">Normal:</div>
          <div class="float-right font-weight-bold" id="regular_time">00:00</div>
        </div>
      </div>
      <div class="alert alert-warning" id="max_time_container">
        <div class="clearfix">
          <div class="float-left">Máximo:</div>
          <div class="float-right font-weight-bold" id="max_time">00:00</div>
        </div>
      </div>
      <div class="alert alert-danger mb-0">
        <div class="clearfix">
          <div class="float-left">Máximo de Extra:</div>
          <div class="float-right font-weight-bold" id="max_extra_time">00:00</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info p-4" role="progressbar" style="width: 55%;"></div>
        <span class="my-progress-text text-center w-100 p-3">4h11min para o mínimo</span>
      </div>
    </div>
  </div>

  <p>Powered by <i>@walbinjr - </i><a href="http://wbjr.me" target="_blank"><i>wbjr.me</i></a></p>
</div>
